.products {
  padding-top: 82px;

  &__top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 40px;

    &-desc {
      margin: 0;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }

    &-desc-blue {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #146EB4;
      cursor: pointer;
    }
  }

  &__item {
    transition: all, 0.4s;

    &:hover {
      opacity: 0.6;
      border: 7px solid dimgray;
      border-radius: 10px;
    }

    &:active {
      opacity: 0.4;
    }
  }

}